<div class="row my-3 justify-content-center align-items-center">
    <div class="col-md-10 col-lg-8 col-xl-6 col-xxl-4 text-center">
        <h1>Send a message</h1>
        <div class="card">
            <div class="card-body p-sm-5">
                <form method="POST" action="https://mdalbinhossain.pages.dev/submit">
                    <div class="mb-3"><input class="form-control" type="text" id="name" name="name" placeholder="Name" required/></div>
                    <div class="mb-3"><input class="form-control" type="email" id="email" name="email" placeholder="Email" required/></div>
                    <div class="mb-3"><input class="form-control" type="tel" id="phone" name="phone" placeholder="Phone (Optional)"/></div>
                    <div class="mb-3"><textarea class="form-control" id="message" name="message" rows="6" placeholder="Message" required></textarea></div>
                    <div><button class="btn btn-dark d-block w-100" type="submit">Send </button></div>
                </form>
            </div>
        </div>
    </div>
</div>