<div class="container-fluid bg-body-tertiary">

  <footer class="container py-5">
    <div class="row">
      <div class="col-6 col-md-2 mb-3">
        <h4>{{ site.title }}</h4>
        <ul class="nav flex-column">
          {%- for my_page in header_pages -%}
          {%- unless my_page.url contains 'page' -%}
          {%- if my_page.navigation -%}
          <li class="nav-item mb-2">
            <a class="nav-link p-0 text-body-secondary" href="{{ my_page.url | relative_url }}">{{ my_page.title |
              escape }}</a>
          </li>
          {%- endif -%}
          {%- endunless -%}
          {%- endfor -%}
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h4>Products</h4>
        <ul class="nav flex-column">
          {% assign projects = site.projects %}
          {%- for project in site.projects limit:5 -%}
          <li class="nav-item mb-2"><a href="{{ project.url }}" class="nav-link p-0 text-body-secondary">{{
              project.title | escape }}</a></li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="col-6 col-md-2 mb-3">
        <h4>Expertise</h4>
        <ul class="nav flex-column">
          {%- for skill in site.data.skills -%}
          <li class="nav-item mb-2"><a href="{{ skill.action_link }}" class="nav-link p-0 text-body-secondary">{{
              skill.title }}</a></li>
          {%- endfor -%}
        </ul>
      </div>

      <div class="col-md-5 offset-md-1 mb-3">
        <form id="newsletter" name="newsletter" action="{{ site.api | relative_url }}" method="POST">
          <h4>Subscribe to my newsletter</h4>
          <p>Monthly digest of what's new and exciting from me.</p>
          <div class="d-flex flex-column flex-sm-row w-100 gap-2">
            <label for="emailAddress" class="visually-hidden">Email address</label>
            <input id="emailAddress" type="email" name="email" class="form-control" placeholder="Email address"
              required>
            <button id="newsletterSendbutton" class="btn btn-dark" type="submit">Subscribe</button>
          </div>
        </form>
      </div>
    </div>

    <div class="d-flex flex-column flex-sm-row justify-content-between py-4 my-4 border-top">
      <p>&copy; {%- if site.author -%} {{ site.author.name | escape }}{%- else -%}{{ site.title | escape }}{%- endif -%}
      </p>
      {%- include social.html -%}
    </div>
  </footer>
</div>