<footer class="footer mt-auto border-top bg-light">
  <div class="container d-flex flex-column flex-sm-row justify-content-between py-4">
    <span>&copy;{{ site.title }}</span>
    <ul class="list-unstyled d-flex">
      {%- for entry in site.social_links -%}
      <li class="ms-3">
        <a class="text-muted" href="{{ entry.user_url }}" target="_blank"
          title="{{ entry.title | default: entry.platform }}"><i class="{{ 'bi bi-' | append: entry.platform }}"
            style="color: rgb(0, 0, 0); font-size: 1.5rem;"></i> </a>
      </li>
      {%- endfor -%}
    </ul>
  </div>
</footer>