{%- assign post = include.post -%}

<div class="col">
    <div class="card h-100 shadow">
        {% if post.image %}
        <img class="card-img-top image-thumbnail" src="{{ post.image }}" alt="{{ post.title }}">
        {%- endif -%}
        <div class="card-body">
            <h3 class="card-title h4 fw-bold">{{ post.title | "" }}</h3>
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            <time class="text-secondary">{{ post.date | date: date_format }}</time>
            <p class="card-text">{{ post.excerpt | "" }}</p>
        </div>

        <div class="footer ms-3 bg-white d-flex justify-content-between align-items-center">
            <div class="my-3">
                {%- for catergory in post.categories -%}
                <span class="badge bg-body-secondary border rounded-pill me-3  mb-2 text-dark">{{catergory}}</span>
                {%- endfor -%}
            </div>
            <a href="{{ post.url | relative_url }}"  class="stretched-link" aria-label="{{ post.title | escape }}"></a>
        </div>
    </div>
</div>