{%- assign post = include.post -%}

<div class="col">
    <div class="card h-100 shadow">
        {% if post.image %}
        <img class="bd-placeholder-img card-img-top" width="100%" src="{{ post.image }}" alt="{{ post.title }}">
        {%- endif -%}
        <div class="card-body">
            <div class="">
                {%- for catergory in post.categories -%}
                <span class="badge text-bg-dark rounded-pill me-2 mb-2">{{catergory}}</span>
                {%- endfor -%}
            </div>
            <h3 class="card-title h5">{{ post.title | "" }}</h3>
            {%- assign date_format = site.date_format | default: "%b %-d, %Y" -%}
            <time class="text-body-emphasis">{{ post.date | date: date_format }}</time>
            <p class="card-text">{{ post.excerpt | "" }}</p>
        </div>

        <div class="card-footer d-flex justify-content-between align-items-center">
            <small class="text-body-secondary">{% include reading-time.html content = post.content %}</small>
            <a href="{{ post.url | relative_url }}" class="btn btn-secondary stretched-link">Read Post &raquo;</a>
        </div>
    </div>
</div>