{%- assign project = include.project -%}

<div class="col">
    <div class="card text-center shadow h-100">
        {% if project.image %}
        <img class="card-img-top image-thumbnail" src="{{ project.image }}"
            alt="{{ project.title }}">
        {%- endif -%}
        <div class="card-body">
            <div class="">
                {%- for catergory in project.categories -%}
                <span class="badge text-bg-dark rounded-pill me-2 mb-2">{{catergory}}</span>
                {%- endfor -%}
            </div>
            <h3 class="card-title h5">{{ project.title | escape }}</h3>
            <p class="card-text">{{ project.description | escape }}</p>
            <a href="{{ project.url }}" class="stretched-link" aria-label="{{ project.name | escape }}"></a>
        </div>
    </div>
</div>