{%- assign project = include.project -%}

{%- assign colors = "primary,secondary,success,danger,warning,info,dark,light" | split: "," -%}
{%- assign color = colors | sample -%}

<div class="col">
    <div class="card text-center shadow h-100 bg-{{ color }} bg-gradient">
        {% if project.image %}
        <a href="{{ project.url }}" class="stretched-link" aria-label="{{ project.title | escape }}">
        <img class="card-img" src="{{ project.image }}"
            alt="{{ project.title }}"></a>
        {%- else -%}
        <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false"><title>{{ project.title | escape }}</title><rect width="100%" height="100%" fill="#55595c"/><text x="50%" y="50%" fill="#eceeef" dy=".3em">{{ project.title | escape }}</text></svg>
        <div class="card-body">
            <div class="">
                {%- for catergory in project.categories -%}
                <span class="badge text-bg-dark rounded-pill me-2 mb-2">{{catergory}}</span>
                {%- endfor -%}
            </div>
            <h3 class="card-title h5">{{ project.title | escape }}</h3>
            <p class="card-text">{{ project.description | escape }}</p>
            <a href="{{ project.url }}" class="stretched-link" aria-label="{{ project.title | escape }}"></a>
        </div>
        {%- endif -%}
    </div>
</div>