.search-box {
  box-shadow: none !important;
}

.post.card {
  text-decoration: none !important;
  height: 100%;
}

.post-metadata {
  font-size: 14px;
  margin-top: -6px;

  .tag:hover {
    background-color: $primary;
    color: white !important;
  }
}
