@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/aos/2.3.4/aos.css");

@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Raleway:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i");

body {
  font-family: "Open Sans", sans-serif;
  color: #272829;
}

a {
  color: #0563bb;
  text-decoration: none;
}

a:hover {
  color: #067ded;
  text-decoration: none;
}

h1,
h2,
h3{
  font-family: "Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap";
}

/* body {
  font-family: "Poppins:wght@600&amp;family=Roboto:wght@300;400;500;700&amp;display=swap";
} */

/* Timeline custom component */
.timeline {
  border-left: 2px solid #E6E9ED;
  padding: 1rem 0;
}

.timeline-card {
  position: relative;
  margin-left: 31px;
  border-left: 2px solid;
  margin-bottom: 2rem;
}

.timeline-card:last-child {
  margin-bottom: 1rem;
}

.timeline-card:before {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: #fff;
  border-radius: 10px;
  width: 12px;
  height: 12px;
  top: 20px;
  left: -41px;
  border: 2px solid;
  z-index: 2;
}

.timeline-card:after {
  content: '';
  display: inline-block;
  position: absolute;
  background-color: currentColor;
  width: 29px;
  height: 2px;
  top: 25px;
  left: -29px;
  z-index: 1;
}

.timeline-card-info {
  border-left-color: var(--bs-info);
}

.timeline-card-info:before {
  border-color: var(--bs-info);
}

.timeline-card-info::after {
  background-color: var(--bs-info);
}

.timeline-card-success {
  border-left-color: var(--bs-success);
}

.timeline-card-success:before {
  border-color: var(--bs-success);
}

.timeline-card-success::after {
  background-color: var(--bs-success);
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 70px
}

html,
body {
  overflow-x: hidden;
}

.container {
  max-width: 1140px;
}

@media (max-width: 767px) {

  /* disable animations on mobile */
  [data-aos] {
    opacity: 1 !important;
    transform: translate(0) scale(1) !important;
  }

  .project-reverse {
    flex-direction: column-reverse;
  }

  .project-reverse .text-end {
    text-align: start !important;
  }
}