---
layout: compress
---
<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: 'en' }}">

{%- include head.html -%}

<body>

  {%- include navbar.html -%}

  <main class="container my-5 py-5 rounded bg-white" aria-label="Content">

    {{ content }}

  </main>

  {%- include footer.html -%}

  <script defer src='https://static.cloudflareinsights.com/beacon.min.js'
    data-cf-beacon='{"token": "6a634ca65a3c4680b2671b0d4aca4ca2"}'></script>
  <script src="{{ '/assets/js/script.js' | relative_url }}"></script>

</body>

</html>