---
layout: default
---

<div>

  {{ content }}


  {%- include home/hero.html -%}

  <section class="container py-5 border-top">
    <h2 class="h2 py-2 text-center text-uppercase">Skills</h2>
    <div class="row py-5 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
      {%- for skill in site.data.skills -%}
      {% include home/jumbotron.html jumbotron = skill %}
      {%- endfor -%}
    </div>
  </section>

  {%- if site.projects.size > 0 -%}
  <section class="container py-5 border-top">
    <h2 class="h2 py-2 text-center text-uppercase">Latest Projects</h2>
    <div class="row py-5 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
      {% assign projects = site.projects %}
      {%- for project in site.projects limit:6 -%}
      {% include project.html project = project%}
      {%- endfor -%}
    </div>
  </section>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
  <section class="container py-5 border-top">
    <h2 class="h2 py-2 text-center text-uppercase">Recent Posts</h2>
    <div class="row py-5 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-3">
      {% assign posts = site.posts %}
      {%- for post in site.posts limit:6 -%}
      {% include post.html post = post%}
      {%- endfor -%}
    </div>
  </section>
  {%- endif -%}


  <section class="container py-5 border-top">
    <h2 class="h2 py-2 text-center text-uppercase">Contact</h2>
    {%- include contact.html -%}
  </section>

</div>