---
layout: default
---

<div>

  {{ content }}


  <section class="pb-5">
    {%- include home/hero.html -%}
  </section>

  <section class="py-5 border-top">
    <h2 class="fw-bold py-2 text-center section-title">Skills</h2>
    <div class="row py-5 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
      {%- for skill in site.data.skills -%}
      {% include home/jumbotron.html jumbotron = skill %}
      {%- endfor -%}
    </div>
  </section>

  {%- if site.projects.size > 0 -%}
  <section class="py-5 border-top">
    <h2 class="fw-bold py-2 text-center section-title">Latest Projects</h2>
    <div class="row py-5 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% assign projects = site.projects %}
      {%- for project in site.projects limit:6 -%}
      {% include project.html project = project%}
      {%- endfor -%}
    </div>
    <div class="text-end">
      <a href="{{ '/projects' | relative_url }}" class="btn btn-dark">View All Projects</a>
    </div>
  </section>
  {%- endif -%}

  {%- if site.posts.size > 0 -%}
  <section class="py-5 border-top">
    <h2 class="fw-bold py-2 text-center section-title">Recent Posts</h2>
    <div class="row py-5 row-cols-1 row-cols-sm-1 row-cols-md-2 row-cols-lg-3 g-4">
      {% assign posts = site.posts %}
      {%- for post in site.posts limit:6 -%}
      {% include post.html post = post%}
      {%- endfor -%}
    </div>
    <div class="text-end">
      <a href="{{ '/blog' | relative_url }}" class="btn btn-dark">View All Posts</a>
    </div>
  </section>
  {%- endif -%}


  <section class="py-5 border-top">
    <h2 class="fw-bold py-2 text-center section-title">Contact Me</h2>
    {%- include contact.html -%}
  </section>

</div>