{%- assign jumbotron = include.jumbotron -%}
<div class="col">
    <div class="card text-center h-100 border border-dashed rounded-5">
        <div class="card-body">
            <!-- <i type="button" class="btn-close bg-secondary bg-opacity-10 rounded-pill mt-5 mb-3"
            aria-label="Close"></i> -->
            <h3 class="card-title py-3"> {{ jumbotron.title }} </h3>
            <p class="card-text">
                {{ jumbotron.description }}
            </p>
        </div>
        <div class="card-footer bg-body border-top-0">
            <a class="btn btn-secondary px-5 mb-5" href="{{ jumbotron.action_link }}">
                {{ jumbotron.action }} &raquo;
            </a>
        </div>
    </div>
</div>